html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin: 0 auto;
    /*max-width:1200px;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2 {
    font-size:2em;
    font-weight:bold;
}
h3 {
    font-size:1.5em;
    font-weight:bold;
}

.message {
    border-top:3px solid #C00000; 
    border-bottom:3px solid #C00000; 
    text-align:center;
    line-height:1.5em;
}

/* Login page */

section.login-container {
    margin-top:80px;
}
section.login-container header {
    margin-bottom:20px;
    text-align:center;
}
section.login-container section.login-form {
    width:200px;
    margin:20px auto 0 auto;
}
section.login-container section.login-form form {
    margin-top:20px;
}

/* Main pages */
nav {
    overflow:hidden;
    margin-bottom:2em;
}
nav ul.mainmenu {
    float:left;
}
nav ul.mainmenu li {
    display:inline;
    float:left;
    margin-left:.8em;
    padding:0 .4em;
    line-height:1.8em;
}
header ul.mainmenu li:first-child {
    margin-left:0;   
}


section.content article {
    line-height:1.2em;
}
section.content article p.time {
    font-size:.8em;
    line-height:2.5em;
}

div.container section.popular table, th, td {
    border:1px solid black;
    vertical-align:middle;
    text-align:center;
    padding:.2em;
}
div.container section.popular thead {
    border:2px solid black;
}
div.container section.popular thead th {
    font-weight:bold;
    font-size:1.3em;
}
div.container section.popular tbody td form {
    margin:0;
}
